@{
    ViewData["Title"] = "Homepage - Music Rising";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="card-view">
    <div class="container">
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="height: 180px;">
                    <div style="flex: 1;">
                        <img class="card-img-top" src="~/Images/zalinaz.jpg" alt="Card image cap" style="height: 100%; width: 100%; object-fit: cover; border-radius: 0;">
                    </div>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5>Shows</h5>
                        <a asp-page="/Shows/Index" class="btn btn-primary">View shows</a>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="height: 180px;">
                    <div style="flex: 1;">
                        <img class="card-img-top" src="~/Images/Band.jpg" alt="Card image cap" style="height: 100%; width: 100%; object-fit: cover; border-radius: 0;">
                    </div>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5>Bands</h5>
                        <a asp-page="/Bands/Index" class="btn btn-primary">View bands</a>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="height: 180px;">
                    <div style="flex: 1;">
                        <img class="card-img-top" src="~/Images/Band.jpg" alt="Card image cap" style="height: 100%; width: 100%; object-fit: cover; border-radius: 0;">
                    </div>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5>Venues</h5>
                        <a asp-page="/Venue/Index" class="btn btn-primary">View venues</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Card 4 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="height: 180px;">
                    <div style="flex: 1;">
                        <img class="card-img-top" src="~/Images/Band.jpg" alt="Card image cap" style="height: 100%; width: 100%; object-fit: cover; border-radius: 0;">
                    </div>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5>Services</h5>
                        <a asp-page="/Shows/Index" class="btn btn-primary">View services</a>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="height: 180px;">
                    <div style="flex: 1;">
                        <img class="card-img-top" src="~/Images/Band.jpg" alt="Card image cap" style="height: 100%; width: 100%; object-fit: cover; border-radius: 0;">
                    </div>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5>Musicians</h5>
                        <a asp-page="/Shows/Index" class="btn btn-primary">View musicians</a>
                    </div>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="col-md-4 mb-4">
                <div class="card" style="height: 180px;">
                    <div style="flex: 1;">
                        <img class="card-img-top" src="~/Images/Band.jpg" alt="Card image cap" style="height: 100%; width: 100%; object-fit: cover; border-radius: 0;">
                    </div>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5>About</h5>
                        <a asp-page="/Home/About" class="btn btn-primary">About</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    © 2024 Music Rising. All rights reserved.
</footer>
