@model MusicRising.Models.ShowVM
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
ViewData["Title"] = "Create Show";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a Show</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ShowId" />
            <input type="hidden" asp-for="VenueId" />
            <input type="hidden" asp-for="BandId" />

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                @Html.DropDownListFor(model => model.Genre, new SelectList(Enum.GetValues(typeof(MusicRising.Helpers.GenreEnum)).Cast<MusicRising.Helpers.GenreEnum>().Select(e => new SelectListItem { Text = e.ToString(), Value = e.ToString() }), "Value", "Text"), "Select Genre", new { @class = "form-control" })
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromoItem" class="control-label"></label>
                <input asp-for="PromoItem" class="form-control" />
                <span asp-validation-for="PromoItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowFee" class="control-label"></label>
                <input asp-for="ShowFee" class="form-control" />
                <span asp-validation-for="ShowFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandFee" class="control-label"></label>
                <input asp-for="BandFee" class="form-control" />
                <span asp-validation-for="BandFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>