@model MusicRising.Models.Band

@{
ViewData["Title"] = "Delete Band";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Band</h1>

<div>
    <h4>Are you sure you want to delete this band?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Band Name
        </dt>
        <dd class="col-sm-10">
            @Model.BandName
        </dd>
        <dt class="col-sm-2">
            Location
        </dt>
        <dd class="col-sm-10">
            @Model.Location
        </dd>
        <dt class="col-sm-2">
            Genre
        </dt>
        <dd class="col-sm-10">
            @Model.Genre
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="BandId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
