@model List<Band>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    <div class="row">
        @foreach (var band in Model) {
            <div class="col-md-4 d-flex align-items-stretch">
                @Html.Partial("_Card", new {
                    ImageUrl = band.BandPicture != null ? Url.Content($"{band.BandPicture}") : Url.Content("default.png"),
                    Title = band.BandName,
                    Description = $"{band.Genre} | {band.Location}",
                    Address = $"{band.Address}",
                    Id = band.BandId
                })
            </div>
        }
    </div>
</div>

@if (!Model.Any())
{
    <p>No bands are registered yet</p>
}

